* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
        margin: 0;
        padding: 0;
        height: 210.5vh; /* Full viewport height */
        background-image: url('themarias.jpg'); /* Replace with your image path */
        background-size: cover; /* Ensures the background covers the entire page */
        background-position: center; /* Centers the background image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
    }

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    transition: 0.5;
}

nav ul li a:hover{
    color: red;
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.projects {
    padding: 60px 20px;
    text-align: center;
}

.projects h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.project-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: left;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item img, .project-item video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 40px;
}
